:root {
  --red: #8f0000;
  --white: #f0e6e6;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --font-sm: 12px;
  --font-md: 18px;
  --font-lg: 24px;
  --font-xl: 36px;
  --border-radius: 8px;
}

/* CSS Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Utilities */

.btn {
  background-color: var(--red);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: var(--spacing-sm);
  padding: var(--spacing-sm);
  font-family: inherit;
  font-size: var(--font-md);
  font-weight: bold;
  transition: filter .2s ease-in-out;
}

.btn:hover {
  filter: brightness(150%);
}

/* Body */

body {
  background-color: var(--red);
  color: var(--white);
  font-family: 'Courier New', Courier, monospace;
}

/* Header */

.container {
  padding: var(--spacing-lg);
  display: flex;
  gap: var(--spacing-lg);
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.logo-container {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
}

.logo {
  font-size: var(--font-xl);
}

/* grid */

.book-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing-lg);
}

.card {
  width: 200px;
  background-color: var(--white);
  color: var(--red);
  padding: var(--spacing-md);
  margin: var(--spacing-md);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  white-space: nowrap;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-md);
}

.author {
  font-style: italic;
}

.unread {
  background-color: var(--white);
  color: var(--red);
  border: 2px solid var(--red);
}

.unread:hover {
  filter: brightness(75%);
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--spacing-sm);
  display: flex;
  font-size: var(--font-md);
  justify-content: center;
  gap: var(--spacing-sm);
}

.svg-icon-path {
  fill: var(--white);
}

/* modal */

#addBookModal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;

  flex-direction: column;
  gap: var(--spacing-lg);

  background-color: var(--white);
  color: var(--red);
  padding: var(--spacing-sm);
  margin: var(--spacing-sm);
  font-size: var(--font-md);
  border-radius: var(--border-radius);

  transform: translate(-50%, -50%) scale(0);
  transition: .2s ease-in-out;
}

#addBookModal.active {
  transform: translate(-50%, -50%) scale(1);
}

#addBookForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

input {
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-lg);
  padding: var(--spacing-sm);
}

input::placeholder {
  color: inherit;
  font-style: italic;
}

.addBookMessage {
  font-size: var(--font-lg);
}

.is-read-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

#overlay.active {
  z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
}